* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #141414;
    color: #fff;
}

.background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./img/netflixBackground.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 99;
    padding: 20px;
    color: white;
}

.attribution {
    font-size: 20px;
    text-align: center;
    background-color: pink;
    color: white;
}

.attribution a {
    color: palevioletred;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.mean-header{
    text-align: center;
    margin: 40px 0;
    font-size: 2.5em;
    line-height: 1.2;
}

.logo {
    display: flex;
    align-items: center;
    color: rgb(229, 9, 20);
    fill: currentColor;
    font-weight: bold;
}

.lang-select {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons {
    display: flex;
    align-items: center;
}

.tab-panel {
    width: 50%;
    margin: 20px auto 0 auto; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.tab-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    border-bottom: 2px solid #0000;
    transition: background-color 0.3s;
    border-radius: 20px; 
    background-color: #000; 
    border: 1px solid #0000; 
}


.tab-item {
    margin: 10px; 
    padding: 10px 20px;
    cursor: pointer;
   
}
.tab-item.active {
  
    background-color: #0000; 
    border-radius: 40px;
}

.tab-item:hover {
    background-color: #3333;
    background-color: #0000; 
    border-radius: 40px;
}

.tab-content {
    padding: 20px 0;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/* Media query para dispositivos móviles (menos de 991px) */
@media (max-width: 991px) {
    .navigation {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }

    .header {
        padding: 10px 20px;
    }

    .logo {
        justify-content: flex-start;
    }

    .buttons {
        margin-left: 0;
    }
    .tab-panel {
        width: 70%; 
    }
}

@media (max-width: 768px) {
    .tab-panel {
        width: 90%;
    }

    .tab-list {
        flex-direction: column; 
        align-items: flex-start;
    }

    .tab-item {
        width: 100%; 
        text-align: left; 
    }
}
